{
  "env": {
    "node": true
  },
  "rules": {
    "brace-style": [2, "1tbs"],
    "consistent-this": [0, "self"],
    "eqeqeq": 1,
    "func-names": 1,
    "guard-for-in": 1,
    "no-eq-null": 1,
    "no-extra-parens": 1,
    "no-lonely-if": 1,
    "no-sync": 1,
    "no-underscore-dangle": 0,
    "quotes": [2, "single"],
    "radix": 2,
    "space-unary-word-ops": 2,
    "space-in-brackets": [2, "never"],
    "strict": 0,
    "valid-jsdoc": 1,
    "wrap-iife": 1
  }
}
